@import 'tailwindcss';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --color-white-transparent: rgba(255, 255, 255, 0.5);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: black;
  background-color: white;
}

svg {
  width: 24px;
  height: 24px;
}

video::-webkit-media-controls {
  display: none !important;
}

/* Custom Toggle */
/* The switch - the box around the slider */
.app_toggle-label {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}
/* The slider */
.app_toggle-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: oklch(0.922 0 0);
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 16px;
}
.app_toggle-span:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 16px;
}
/* Hide default HTML checkbox */
input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
  outline: solid 2px transparent;
}
input[type='checkbox']:checked + .app_toggle-span {
  background-color: #2196f3;
  outline: solid 2px transparent;
}
input[type='checkbox']:focus + .app_toggle-span {
  outline: solid 2px black;
}
input[type='checkbox']:checked + .app_toggle-span:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Custom Slider */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  height: 8px;
  border-radius: 16px;
}
input[type='range']:hover {
  opacity: 1;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border: none;
  border-radius: 100%;
  transition: 0.2s all;
}
input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border: none;
  border-radius: 100%;
  transition: 0.2s all;
}
input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 4px white;
}
input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px white;
}
input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px white;
}
input[type='range']::-moz-range-thumb:hover {
  box-shadow: 0 0 0 4px white;
}
input[type='range']:active::-moz-range-thumb {
  box-shadow: 0 0 0 8px white;
}
input[type='range']:focus::-moz-range-thumb {
  box-shadow: 0 0 0 8px white;
}

.app_hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.app_hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom Radio */
/* Customize the label (the container) */
.app_radio-container {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.app_radio-container input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  outline: solid 2px transparent;
}

/* Create a custom radio button */
.app_radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--color-neutral-200);
  border-radius: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: solid 2px transparent;
}

/* On mouse-over, add a grey background color */
.app_radio-container:hover input[type='radio'] ~ .app_radio-checkmark {
  background-color: var(--color-neutral-200);
}

/* When the radio button is checked, add a blue background */
.app_radio-container input[type='radio']:checked ~ .app_radio-checkmark {
  background-color: var(--color-sky-500);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.app_radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.app_radio-container input[type='radio']:checked ~ .app_radio-checkmark:after {
  display: block;
}

.app_radio-container input[type='radio']:focus + .app_radio-checkmark {
  outline: solid 2px black;
}

/* Style the indicator (dot/circle) */
.app_radio-container .app_radio-checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: white;
}



.app_animate-fill-slot {
  animation: animate-fill-slot 5s linear;
}

@keyframes animate-fill-slot {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
